.main-page,
html,
body {
  text-align: center;
  width: 100%;
  height: 100% !important;
  /* background-color: #49F2BB */
  background-image: url("../assets/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#text-input {
  width: 50%;
  height: 100%;
  align-items: center;
  padding: 0.5%;
  margin-top: 5%;
  margin-bottom: 1%;
  border: 2px #7d4cdb solid;
  background-color: #422873;
  color: white;
}

#text-input:hover {
  border: #6fffb0 2px solid;
}

#search-button {
  background-color: #422873;
  border: #7d4cdb 2px solid;
}
#search-button:hover {
  background-color: #7d4cdb;
  border: #6fffb0 2px solid;
}

#album-covers {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1% auto;
}

#result-tags {
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #422873;
  font-weight: bold;
  margin: 1% auto;
  color: white;
  display: flex;
  border: #7d4cdb 2px solid;
}

#result-tags:hover {
  border: #6fffb0 2px solid;
}

.search-results {
  display: inline-block;
  justify-content: center;
  padding: 0.5rem;

  /*
    center contents inside a div 
     */
  width: 100%;
  margin: 0 auto;
}

#result-tags:hover {
  scale: 100%;
}

#result-spinner {
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  margin: 1% auto;
  display: flex;
}

/**
 ********* Result Card CSS
**/

.result-card {
  align-items: center;
  font-weight: bold;
}

#result-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#result-cardText {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/**
* SONG DATA PAGE ***************
*
*/

.song-data-main {
  background-color: white;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}

#stats-checkbox {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.song-stats-component {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

/**
*  Word Cloud **
**/
